/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'PT Sans', sans-serif;*/

/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common end*/
/*header start*/
header{
	/*border: 1px solid;*/
	padding: 30px 0;
}
.container{
	margin: 0 auto;
	overflow: hidden;
	width: 90%;


	/*border: 1px solid;*/

}

.logo{
	margin-top: 8px;
    width:12%;
    /*border: 1px solid red;*/
    float: left;
}
.logo a{}
.logo a img{
	width: 100%;
}
.menu{
	width:70%;
	/*border: 1px solid red;*/
	float: right;	
}
.menu ul{
	list-style: none;
	float: right;

}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0 62px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
}
.menu ul li a:hover{}
.menu ul li:last-child a{
	margin-right: 0;
}
/*header end*/
/*header2 start*/


.c_content{
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
	border: 1px solid red;
	background-color: #fcdb00;
}
.c_logo{
	margin-top: 10px;
	width: 20%;
	font-family:'PT Sans', sans-serif;
	font-size:30px;
	font-weight:700;
	color: #010101;
	float: left;
    /*border: 1px solid green;*/
}
.c_logo img{}
.c_menu{
	width: 60%;
	float: right;
	/*border: 1px solid green;*/	
}
.c_menu ul{
	list-style: none;
	float: right;

}
.c_menu ul li{
	
	float: left;
}
.c_menu ul li a{
	margin: 0 30px;
	font-family:'PT Sans', sans-serif;
	font-size:22px;
	font-weight:700;
	color: #010101;
	text-decoration: none;
}
.c_menu ul li:last-child a{
	margin-right: 0;
}
/*header2 start*/